.websiteFooter-Box1 {
  // min-height: 50%;
  width: 100%;
  background-color: #6e6e72;
  display: flex;
  justify-content: center;
  align-items: center;
}
.websiteFooter-Box2 {
  // height: 30vh;
  padding: 40px;
  width: 90%;
}
.websiteFooter-Box3 {
  display: flex;
  align-items: center;
  justify-content: end;
}
.websiteFooter-Box4 {
  display: flex;
  justify-content: space-around;
}
.websiteFooter-Txt1 {
  color: #fff !important;
}

.websiteFooter-Box444 {
  display: flex;
  justify-content: space-between;
  width: 150px;
}
.websiteFooter-Img2 {
  height: 30px;
  width: 30px;
}
.websiteFooter-Boxes {
  display: flex;
  justify-content: center;
  color: #fff;
  background-color: black;
  padding: 10px;
}
.websiteFooter-Img1 {
  width: 218px;
  height: 108px;
  border-radius: 4px;

  @media screen and (min-width: 320px) and (max-width: 768px) {
    width: 150px;
    height: 70px;
  }
}
.websiteFooter----imagesss {
  width: 15px;
  height: 21px;
  // padding-left: -10px;
}
.websiteFooter-textesssss {
  color: white;
  // width: 100%;
}
