//colors
$Primary: #ef3e22;
$primary2: #6e6e72;
$primary3: #ffff;
$primary4: #000000;

//fonts
$Montserrat-Bold: "Montserrat-Bold";
$Montserrat-ExtraBold: "Montserrat-ExtraBold";
$Montserrat-SemiBold: "Montserrat-SemiBold";
$Montserrat-Medium: "Montserrat-Medium";
$Montserrat-Regular: "Montserrat-Regular";
