//colors
$Primary: #ef3e22;
$primary2: #6e6e72;
$primary3: #ffff;
$primary4: #000000;

//fonts
$Poppins-Bold: "Poppins-Bold";
$Poppins-ExtraBold: "Poppins-ExtraBold";
$Poppins-SemiBold: "Poppins-SemiBold";
$Poppins-Medium: "Poppins-Medium";
$Poppins-Regular: "Poppins-Regular";
