@use "../../config/variables.scss" as vars;
// mainpage===================>>>>>>>>>>>>>>>>>
.productScreen-Box1 {
  width: 100%;
  // min-height: 100vh;
  background-color: vars.$primary3;

  @media screen and (min-width: 320px) and (max-width: 768px) {
    height: 100%;
  }
}
.productScreen-Box2 {
  // min-height: 50vh;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 320px) and (max-width: 768px) {
    height: 50%;
  }
}
.productScreen-Box3 {
  width: 80%;
  // min-height: 40vh;
  @media screen and (min-width: 320px) and (max-width: 768px) {
    height: 40%;
  }
}

.productScreen-Box4 {
  // min-height: 50vh;
  background-image: url(../../asset/image/BgImg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;

  @media screen and (min-width: 320px) and (max-width: 768px) {
    height: 100%;
  }
}
.productScreen-Box5 {
  padding: 22px;
  width: 100%;

  @media screen and (min-width: 320px) and (max-width: 768px) {
    height: 100%;
  }
}
// findYourProjuct---->>>>>>>>>>>>>>>>>>>>>
.findYourProjuct-Box1 {
  font-family: vars.$Poppins-Bold;
  font-size: 30px;
  color: vars.$Primary;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (min-width: 320px) and (max-width: 768px) {
    height: 100%;
    font-size: 23px;
  }
}
.findYourProjuct-Box3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.findYourProjuct-Box3:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 4px;
  transform: scale(1.05);
  transition: transform 1s;
}
.findYourProjuct-Txt {
  color: #000000;
  font-family: vars.$Poppins-SemiBold;
  font-size: 14px;
}
.findYourProjuct-Img1 {
  width: 125px;
  @media screen and (min-width: 320px) and (max-width: 768px) {
    width: 100px;
  }
  @media screen and (min-width: 768px) and (max-width: 800px) {
    width: 95px;
  }
}
// productCollection--------------------->>>>>
.productCollection-Box1 {
  font-family: vars.$Poppins-Bold;
  font-size: 30px;
  color: #fff;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (min-width: 320px) and (max-width: 768px) {
    font-size: 24px;
  }
}

.productCollection-Box2 {
  display: flex;
  justify-content: center;
}
.productCollection-Box3 {
  width: 40%;
  @media screen and (min-width: 320px) and (max-width: 768px) {
    width: 90%;
  }
}

.productCollection-Box4 {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
}

.productCollection-Box6 {
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 320px) and (max-width: 768px) {
    width: 100%;
    overflow-y: scroll;
    .productCollection-Box7 {
      width: 800px;
      display: flex;
    }
  }
}
.productCollection-Box7 {
  width: 85%;
  display: flex;
  justify-content: space-evenly;
}
.productCollection-Img {
  width: 70px;
  @media screen and (min-width: 320px) and (max-width: 768px) {
    width: 50px;
  }
  @media screen and (min-width: 768px) and (max-width: 870px) {
    width: 65px;
  }
}
.productCollection-Txt {
  color: #ffffff;
  font-size: 14px;
  font-family: vars.$Poppins-Medium;
  padding-bottom: 4px;
}
.productCollection-Inpt1 {
  width: 100%;
}
.productCollection-Btn1 {
  width: 165px;
  height: 44px;
  border-radius: 4px;
  background: vars.$Primary;
  color: #ffffff;
  font-family: vars.$Poppins-SemiBold;
  font-size: 16px;
  border: none;
}
