.homeScreen-Box1 {
  width: Fixed(100%);
  height: Hug(100vh);
  
}
.homeScreen-Box2 {
  width: 100%;
  height: 100%;
  background-color: rgb(178, 178, 178);
  position: fixed;
}
.homeScreen-Box3 {
  width: Fixed(100%);
  height: Hug(78vh);
  position: absolute;
  top: 0;
  
 display: flex;
 flex-direction: column;
}
.homeScreen-Box4 {
  padding-top: 100px;
 
}
.homeScreen-carousalImg {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  
}

.homeScrn-Logo {
  width: Fixed(360px);
  height: Hug(137px);
  padding-left: 200px;
}
.homeScreen-Txt1 {
  color: white;
  font-weight: bold;
  padding-left: 200px;
}
